html {
    height: 100%;
}
body {
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    flex-wrap: wrap;
}
body a {
    text-decoration: none;
    color: black;
}
body a:hover {
    font-size: 25px;
    color: aqua;
}
.h1 {
    width: 100%;
    height: 15%;
    color: aquamarine;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    line-height: 150px;
}
.menu {
    background-color: antiquewhite;
    width: 17%;
    height: 83%;
    margin-left: 3%;
    border-radius: 15px;
}
.menu div {
    width: 90%;
    height: fit-content;
    margin: 30px 0 0 10%;
    font-size: 20px;
    font-weight: bolder;
}
.menu ol {
    list-style-type: none;
    padding: 0;
}
.menu ol li {
    margin-left: 10%;
    display: none;
}
.menu ol:hover li {
    display: block;
}
.content {
    width: 75%;
    height: 83%;
    margin: 0 0 2% 2%;
    border-radius: 15px;
}
.content img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}