html {
    height: 100%;
}
body {
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    flex-wrap: wrap;
    font-weight: bolder;
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    font-size: 25px;
    color: aqua;
}
.h1 {
    width: 50%;
    height: 15%;
    margin-left: 25%;
    color: aquamarine;
    text-align: center;
    font-size: 100px;
    line-height: 150px;
}
.search {
    width: 22%;
    height: 15%;
    text-align: center;
    align-items: end;
}
.search form {
    margin-top: 10%;
}
.search input {
    width: 75%;
    height: 34px;
    border: none;
    border-bottom: aquamarine solid 2px;
    background-color: transparent;
    font-size: 30px;
    color: aquamarine;
    border-radius: 15px;
}
.search button {
    margin-top: 0px;
    width: 20%;
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    border: aquamarine solid 2px;
    color: aquamarine;
}
.menu {
    background-color: antiquewhite;
    width: 17%;
    height: 83%;
    margin-left: 3%;
    border-radius: 15px;
}
.menu div {
    width: 90%;
    height: fit-content;
    margin: 30px 0 0 10%;
    font-size: 20px;
    font-weight: bolder;
}
.menu ol {
    list-style-type: none;
    padding: 0;
}
.menu ol li {
    margin-left: 10%;
    display: none;
}
.menu ol:hover li {
    display: block;
}
.content {
    width: 75%;
    height: 83%;
    background-color: antiquewhite;
    margin: 0 0 2% 2%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}
.title {
    width: 90%;
    height: 5%;
    margin: 10% 0 0 5%;
    display: flex;
}
.title div {
    width: 100%;
    height: fit-content;
    padding-left: 5%;
    border: none;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}
.data {
    width: 90%;
    height: 70%;
    margin: 0 0 10% 5%;
}
.each-data {
    width: 100%;
    height: fit-content;
    border: none;
    display: flex;
}
.each-data div {
    width: 100%;
    height: 30px;
    padding-left: 5%;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    line-height: 30px;
}
.data a {
    text-decoration: none;
    color: black;
}
.data a:hover {
    color: aqua;
}