html {
    height: 100%;
}
body {
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    flex-wrap: wrap;
    font-weight: bolder;
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    font-size: 25px;
    color: aqua;
}
.h1 {
    width: 50%;
    height: 15%;
    margin-left: 25%;
    color: aquamarine;
    text-align: center;
    font-size: 100px;
    line-height: 150px;
}
.search {
    width: 22%;
    height: 15%;
    text-align: center;
    align-items: end;
}
.search form {
    margin-top: 10%;
}
.search input {
    width: 75%;
    height: 34px;
    border: none;
    border-bottom: aquamarine solid 2px;
    background-color: transparent;
    font-size: 30px;
    color: aquamarine;
    border-radius: 15px;
}
.search button {
    margin-top: 0px;
    width: 20%;
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    border: aquamarine solid 2px;
    color: aquamarine;
}
.menu {
    background-color: antiquewhite;
    width: 17%;
    height: 83%;
    margin-left: 3%;
    border-radius: 15px;
}
.menu div {
    width: 90%;
    height: fit-content;
    margin: 30px 0 0 10%;
    font-size: 20px;
    font-weight: bolder;
}
.menu ol {
    list-style-type: none;
    padding: 0;
}
.menu ol li {
    margin-left: 10%;
    display: none;
}
.menu ol:hover li {
    display: block;
}
.content {
    width: 75%;
    height: 83%;
    background-color: antiquewhite;
    margin: 0 0 2% 2%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 16.4%;
    height: 43%;
    margin: 2% 0 0 3%;
    background-color: black;
    border-radius: 15px;
    color: black;  
    position: relative;
}
.card div {
    width: 90%;
    height: 10%;
    margin: 130% 0 0 5%;
    word-break:break-all;
    position: absolute;
    padding-bottom: 0px;
}
.card img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.card a {
    text-decoration: none;
    color: black;
}
.card a:hover {
    color: aqua;
}
.page {
    width: 100%;
    height: 8%;
}
.pagination {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    display: flex;
    list-style: none;
}
.page-item {
    width: 30px;
    height: 30px;
    text-align: center;
    border: #141e30 solid 1px;
    margin-right: 5px;
    font-size: 20px;
    border-radius: 5px;
    line-height: 30px;
}
.page-link {
    text-decoration: none;
    margin-right: 0;
    color: black;
}
.page-item :hover {
    color: aquamarine;
}
