body {
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    flex-wrap: wrap;
}
.h1 {
    width: 100%;
    height: 10%;
    position: relative;
}
.admin {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: aquamarine;
    font-weight: 900;
}
.content {
    width: 84%;
    height: 89%;
    background-color: antiquewhite;
    border-radius: 15px;
}
.photos {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.card {
    width: 16.4%;
    height: 45%;
    margin: 1% 0 0 3%;
    background-color: black;
    border-radius: 15px;
    color: black;  
    position: relative;
    cursor: pointer;
}
.detail {
    width: fit-content;
    height: fit-content;
    word-break:break-all;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.card img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.card a {
    text-decoration: none;
    color: black;
}
.card a:hover {
    color: aqua;
}
.page {
    width: 100%;
    height: 4%;
}
.pagination {
    width: 50%;
    height: 100%;
    display: flex;
    list-style: none;
    transform: translate(-50%, -50%);
    margin-left: 50%;
}
.page-item {
    width: 25px;
    height: 25px;
    text-align: center;
    border: #141e30 solid 1px;
    margin-right: 5px;
    font-size: 20px;
    border-radius: 5px;
    line-height: 25px;
}
.page-link {
    text-decoration: none;
    margin-right: 0;
    color: black;
}
.page-item :hover {
    color: aquamarine;
}
.gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
}
.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.gallery-img {
    height: 100%;
}
.gallery-img img {
    height: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 15px;
    border: black 2px solid;
}
.close {
    position: absolute;
    width: 50px;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.close img {
    width: 100%;
}
.previous {
    position: absolute;
    width: 50px;
    left: 15px;
    top: 50%;
    cursor: pointer;
}
.previous img {
    width: 100%;
}
.next {
    position: absolute;
    width: 50px;
    right: 15px;
    top: 50%;
    cursor: pointer;
}
.next img {
    width: 100%;
}

